
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=BBH+Sans+Hegarty&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Rozha+One&family=Rubik+Iso&display=swap');
@font-face{
   font-family: Agu;
   src: url('../src/assets/fonts/AguDisplay-Regular-VariableFont_MORF.ttf')
}

@font-face{
   font-family: Bbh;
   src: url('../src/assets/fonts/BBHSansHegarty-Regular.ttf');
   font-weight: 400;
}


@import "tailwindcss";

@theme{
  --font-agu:Agu,"sans-serif";
  --font-bbh:Bbh,"sans-serif";
  --font-garamond:EB Garamond,"sans-serif";
  --font-iceberg: Iceberg,"sans-serif";
  --font-rubik: Rubik Iso,"sans-serif";
  --font-rozha: Rozha One,"sans-serif";
  
}
@theme {
  --background-image-custom-gradient: linear-gradient(to bottom right, #D9F3FF, #EAF9FB, #CBEFF1);
}